<h2>Book detail</h2>
<table>
  <tr>
    <td>
     <span><%= image_tag @book.user.get_profile_image(100,100) %></span>
     <span><%= @book.user.name %></span>
    </td>
    <td><span><%= @book.title %></span></td>
    <td><span><%= @book.body %></span></td>
    <td>edit</td>
    <td>
     <% if @book.user == current_user %>
      <%= link_to "destroy", book_path(@book), method: :delete %>
     <% end %>
    </td>
  </tr>
</table>
 